# Innovation Hub - api - docker-compose.yaml
# written by: Andrew McDonald
# initial: 23/05/23
# current: 17/07/23
# version: 0.1

version: '3.3'

# build containers
services:
  container1:
    build:
      context: container1
      dockerfile: Dockerfile
    container_name: 'innovation-hub-reverse-proxy'
    volumes:
      # nginx basic_auth cred file
      # need to create with 'sudo htpasswd -c container1/nginx/auth/.htpasswd USERNAME
      #- '${PWD}/htpasswd:/etc/nginx/auth/.htpasswd:ro'
      #- "container_data:/home/innovation-hub-api/persistent/"          # persistent container-side logs (either)
      - ${PWD}/logs:/home/innovation-hub-api/persistent/logs            # persistent host-side logs (or)
    environment:
      - TZ=Australia/Melbourne
      - APP_PORT=8050                 # port must match in both containers
      - APP_IP=172.75.0.3             # IP must match container2 ipv4_address
      - NET_SUBNET=172.75.0.0/16      # Network subnet for containers - nginx - must match - container_net
      - PROXY_LOG_LEVEL=detailed      # options: simple (no nginx access logging), detailed (with nginx access logging)
      - NGINX_ERROR_LOG_LEVEL=warn    # options: info, notice, warn, error, crit, alert, emerg (case sensitive)
    networks:
      container_net:
        ipv4_address: 172.75.0.2
    cap_add:
      - CAP_NET_ADMIN
      - CAP_NET_RAW
    ports:
      - '80:80'                       # port binding - 'external:internal'
    restart: 'unless-stopped'

  container2:
    build:
      context: container2
      dockerfile: Dockerfile
    container_name: 'innovation-hub-api'
    volumes:
      #- "container_data:/home/innovation-hub-api/persistent/"          # persistent container-side logs (either)
      - ~/innovation-hub-api/logs:/home/innovation-hub-api/persistent/logs
      - ~/innovation-hub-api/db:/home/innovation-hub-api/persistent/db/container2
    environment:
      - TZ=Australia/Melbourne
      - APP_WORKERS=4               # gunicorn workers - defaults to number of cores
      - APP_THREADS=2               # gunicorn threads - defaults to number of cores - 1
      - APP_PORT=8050               # port must match in both containers
      - APP_LOG_LEVEL=info          # options: debug, info, warning, error, critical
    networks:
      container_net:
        ipv4_address: 172.75.0.3
    restart: 'unless-stopped'

# build container network to control access to containers
networks:
  container_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.75.0.0/16

# create volume for container-side persisten logs
volumes:
  container_data:
    driver: local

